* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,li {
  list-style: none;
}

.image-list {
  display: flex;
  justify-content: center;
}

.img {
  max-width: 25%;
}

.img img {
  width: 100%;
  height: 200px;
}

.pagin-list {
  display: flex;
  justify-content: center;
}

.pagin-list li a {
  display: block;
  padding:15px;
}
