.table {
  border: 2px solid;
  margin: 0 auto;
  font-size: 25px;
}

.table thead {
  border: 1px solid;
  background-color: whitesmoke;
}

.table td {
  border: 1px solid;
}

.table-nums-list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-num, .modal-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.th-headline {
  cursor: pointer;
}

.th-headline span {
  position: relative;
  width: 125px;
  display: block;
}

.thead-arrow::after {
  content: '\2193';
}

.active.thead-arrow::after {
  transform: rotate(180deg);
  position: absolute;
}

.th-headline:last-child {
  cursor: default;
}

.table-modal {
  position: absolute;
  top: 275px;
  right: 200px;
  background-color: #b1a1a1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 160px;
  height: 100px;
}
